<form #form="ngForm" novalidate>
  <!-- Display detail data being imported  -->
  <!-- <div>{{ detail | json }}</div> -->
  <div>
    Passenger ID:
    <input
      type="number"
      name="id"
      required
      #id="ngModel"
      [ngModel]="detail?.id"
    />
    <div *ngIf="id.errors?.required && (id.dirty || id.touched)" class="error">
      Passenger ID is Required
    </div>
  </div>
  <div>
    Passenger name:
    <input
      type="text"
      name="fullname"
      required
      #fullname="ngModel"
      [ngModel]="detail?.fullname"
    />
    <div *ngIf="fullname.errors?.required && fullname.dirty" class="error">
      Passenger Name is Required
    </div>
  </div>

  <div>
    <label>
      <input
        type="checkbox"
        [value]="true"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)"
      />
    </label>
    <!-- Radio buttons code below, comment out to use instead of checkbox -->
    <!-- <label>
      <input
        type="radio"
        [value]="true"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)"
      />
      Yes
    </label>
    <label>
      <input
        type="radio"
        [value]="false"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)"
      />
      No
    </label> -->
  </div>

  <div *ngIf="form.value.checkedIn">
    Check in date:
    <input type="number" name="checkInDate" [ngModel]="detail?.checkInDate" />
  </div>

  <div>
    Luggage:
    <select name="baggage" [ngModel]="detail?.baggage">
      <option
        *ngFor="let item of baggage"
        [value]="item.key"
        [selected]="item.key === detail?.baggage"
      >
        {{ item.value }}
      </option>
    </select>
    <!-- Use NgValue instead of breaking out value and selected seperately -->
    <!-- <select name="baggage" [ngModel]="detail?.baggage">
      <option *ngFor="let item of baggage" [ngValue]="item.key">
        {{ item.value }}
      </option>
    </select> -->
  </div>

  <button type="submit" [disabled]="form.invalid">Update Passenger</button>
</form>
