<form #form="ngForm" novalidate>
  <div>{{ detail | json }}</div>
  <div>
    Passenger ID:
    <input type="number" name="id" [ngModel]="detail?.id" />
  </div>
  <div>
    Passenger name:
    <input type="text" name="fullname" [ngModel]="detail?.fullname" />
  </div>

  <div>
    <label>
      <input
        type="checkbox"
        [value]="true"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)"
      />
    </label>
    <!-- Radio buttons code below, comment out to use instead of checkbox -->
    <!-- <label>
      <input
        type="radio"
        [value]="true"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)"
      />
      Yes
    </label>
    <label>
      <input
        type="radio"
        [value]="false"
        name="checkedIn"
        [ngModel]="detail?.checkedIn"
        (ngModelChange)="toggleCheckIn($event)"
      />
      No
    </label> -->
  </div>

  <div *ngIf="form.value.checkedIn">
    Check in date:
    <input type="number" name="checkInDate" [ngModel]="detail?.checkInDate" />
  </div>

  {{ form.value | json }}
</form>
